<h1>Add Assessments</h1>

<%= simple_form_for @assessment, url: course_assessments_path(@course) do |f|%>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :due_date %>
  <%= f.input :weight %>
  <%= f.button :submit, class: "btn-primary" %>
<% end %>
<%= link_to "See Course", course_path(@course), :class => "button" %>
