<div style="text-align: center">
  <h1>Welcome to A Plus Plus</h1>
</div>

<% if user_signed_in? %>
  <div style="display:inline-block" class="col-sm-8"><%= render "assessments/calendar" %></div>

  <div id="priorities" class="col-sm-4">
    <h2>Priorities (Due in a week! Aghhhhhh)</h2>
    <% if @assessments.exists? %>
      <table border="1" style="width:100%">
        <thead>
          <tr>
            <td><%= sortable "title", "Assessment"%></td>
            <td><%= sortable "due_date", "Due Date"%></td>
            <td><%= sortable "course", "Course"%></td>
          </tr>
        </thead>
          <% @assessments.each do |assessment| %>
          <tbody>
            <tr>
              <td>
                <% if assessment.important %>
                  <%= link_to course_path(assessment.course) do %>
                    <span>
                      <%= assessment.title %>
                      <%= fa_icon('star', class: 'important-icon') %>
                    </span>
                  <% end %>
                <% else %>
                  <%= link_to course_path(assessment.course) do %>
                    <span>
                      <%= assessment.title %>
                      <%= fa_icon('star-o', class: 'important-icon') %>
                    </span>
                  <% end %>
                <% end %>
              </td>
              <td><%= assessment.due_date %></td>
            <td><%= link_to assessment.course.title, course_path(assessment.course) %></td>
          </tbody>
          <% end %>
    <% else %>
      <p></p>
    <% end %>
  </div>
<% end %>




<!-- <blockquote>
  <p>Absolute game-changer!</p>
  <small>Alaina Gully <cite title="Source Title">Quincy College, Illinois</cite></small>
</blockquote>
<blockquote class="blockquote-reverse">
  <p>Hands down the best app grade managing app out there. I can't wait to use... wait, I f@#kin hate school. Just kiddin, no tanks.</p>
  <small>Makoto <cite title="Source Title">Free Soul</cite></small>
</blockquote>
<blockquote>
  <p>This shit is nice, I mean calendars and colour?! Definitely a 7/10! One day someone will be using this, bet it.</p>
  <small>Ryan Woo <cite title="Source Title">Senior Web Developer</cite></small>
</blockquote> -->
