<h1 style="margin-bottom: 10px">Your Courses</h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr class="danger">
      <th><%= sortable "title", "Course"%></th>
      <th><%= sortable "desired_grade", "Desired Grade (%)"%></th>
      <th><%= sortable "grade", "Grade (%)"%></th>
      <th><%= sortable "credit", "Credits"%></th>
      <th><%= sortable "term", "Term"%></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, course_path(course) %></td>
        <td><% if course.desired_grade != nil %>
            <%= course.desired_grade %>
          <% else %>
            <%= form_for course, url:course_path(course) do |a| %>
            <%= a.text_field :desired_grade %>
            <%= a.submit "Update" %>
          <% end %>
          <% end %></td>
        <td><%= course.grade %></td>
        <td><%= course.credit %></td>
        <td><%= course.term %></td>
    <% end %>
</table>
