<div class="col-md-8 col-md-offset-2">

<%= simple_form_for @course do |f| %>
    <%= f.input :title %>
    <%= f.input :term, collection: @terms, selected: @terms[0] %>
    <%= f.input :instructor %>
    <%= f.input :credit, collection: 1..10, selected: 3%>
    <%= f.input :desired_grade, collection: 1..100, selected: 100%>
    <%= f.button :button do %>
      Create Course
    <% end %>
  <% end %>
</div>
