<div class = 'well bs-component'>
  <legend>Register Course</legend>
  <%= simple_form_for @course do |f| %>
      <%= f.input :title, label: "Course Name" %>
      <%= f.input :term, collection: @terms, selected: @terms[0] %>
      <%= f.input :credit, label: "Credits", collection: 1..10, selected: 3%>
      <%= f.button :submit, class: "btn btn-primary" do %>
        Create Course
      <% end %>
  <% end %>
</div>
