<h1><%= @course.title %></h1>
<%= link_to "Delete", course_path(@course), method: :delete, data: {confirm: "Are you sure?"}%>
<h2>You want a <%= @course.desired_grade %>% in the course.</h2>
<h2>And you currently have <%= @current_grade.round(1) %>%.</h2>
<% if @assessments.exists? %>
<h3>Assessments:<%= link_to "Add new assessment", new_course_assessment_path(@course) %></h3>
<table border="1" style="width:100%">
  <tr>
    <td><%= sortable "title", "Assessment"%></td>
    <td><%= sortable "grade", "Grade (%)"%></td>
    <td><%= sortable "weight", "Weight (%)"%></td>
    <td><%= sortable "due_date", "Due Date"%></td>
    <td>Details</td>
  </tr>
<% @assessments.each do |assessment| %>
  <tr>
    <td><%= link_to "#{assessment.title}", edit_course_assessment_path(@course, assessment) %></td>
    <td><% if assessment.grade != nil %>
      <%= assessment.grade %>
      <div class="update-button" style="display: inline-block"> Update
        <div class="update-form" style="display: inline-block">
          <%= form_for assessment, url: course_assessment_path(@course, assessment) do |a| %>
          <%= a.text_field :grade %>
          <%= a.submit "Update" %>
          <%end %>
        </div>
      </div>
    <% else %>
      <%= form_for assessment, url:course_assessment_path(@course, assessment) do |a| %>
        <%= a.text_field :grade %>
        <%= a.submit "Update" %>
      <% end %>
    <% end %></td>
    <td><%= assessment.weight %></td>
    <td><%= assessment.due_date %></td>
    <td><%= assessment.description %></td>
    <% end %>
<% else %>
  <%= link_to "Add new assessment", new_course_assessment_path(@course) %>
<% end %>
</table>
