<h1><%= @course.title %></h1>
<%= link_to "", course_path(@course), class: "glyphicon glyphicon-trash", method: :delete, data: {confirm: "Are you sure?"}%>

<h3>You want a <%= @course.desired_grade %>% in the course.</h3>

<% if @course.grade != nil %>
  <h3>And you currently have <%= @course.grade %>%.</h3>
<% end %>
<br>
<div>
<% if @assessments.present? || @imp_assessments.present? %>

  <table class="table">
    <thead class="thead-default">
      <tr>
        <th><%= sortable "title", "Assessment"%></th>
        <th><%= sortable "grade", "Grade (%)"%></th>
        <th><%= sortable "weight", "Weight (%)"%></th>
        <th><%= sortable "assessment_type", "Type"%></th>
        <th><%= sortable "due_date", "Due Date"%></th>
        <th>Details</th>
      </tr>
    </thead>

    <tbody>
    <% if @imp_assessments%>
      <% @imp_assessments.each do |assessment| %>
        <tr>
          <td><%= link_to "#{assessment.title}", edit_course_assessment_path(@course, assessment) %>
            <%= link_to fa_icon("star"), important_course_assessment_path(@course, assessment), method: :patch, class: "important-icon" %><%= link_to "", course_assessment_path(@course, assessment), class: "glyphicon glyphicon-trash", method: :delete, data: {confirm: "Are you sure?"}%>
          </td>
          <td>
            <%= assessment.grade if assessment.grade %>%
            <div class="update-button-percentage-imp btn btn-primary">Update(%)</div>
            <div class="update-button-manual-imp btn btn-primary">Update(/)</div>
            <div class="update-form-percentage-imp">
            <%= form_for(assessment, url: course_assessment_path(@course, assessment), html: {method: "patch"}) do |f| %>
              <%= f.text_field :grade %>
              <%= f.submit "Update" %>
            <% end %>
            </div>
            <div class="update-form-manual-imp">
            <%= form_for(assessment, url: course_assessment_path(@course, assessment), html: {method: "patch"}) do |f| %>
              <%= f.text_field :igot %>/
              <%= f.text_field :outof %>
              <%= f.submit "Update" %>
            <% end %>
            </div>
          </td>
          <td><%= assessment.weight %></td>
          <td><%= assessment.assessment_type %></td>
          <td><%= assessment.due_date %></td>
          <td><%= assessment.description %></td>
        </tr>
      <% end %>
    <% end %>

    <% @assessments.each do |assessment| %>
      <tr>
        <td><%= link_to "#{assessment.title}", edit_course_assessment_path(@course, assessment) %>
          <%= link_to fa_icon("star-o"), important_course_assessment_path(@course, assessment), method: :patch, class: "important-icon" %><%= link_to "", course_assessment_path(@course, assessment), class: "glyphicon glyphicon-trash", method: :delete, data: {confirm: "Are you sure?"}%>
        </td>
        <td>
          <%= assessment.grade if assessment.grade %>%
          <div class="update-button-percentage btn btn-primary">Update(%)</div>
          <div class="update-button-manual btn btn-primary">Update(/)</div>
          <div class="update-form-percentage">
          <%= form_for(assessment, url: course_assessment_path(@course, assessment), html: {method: "patch"}) do |f| %>
            <%= f.text_field :grade %>
            <%= f.submit "Update" %>
          <% end %>
          </div>
          <div class="update-form-manual">
          <%= form_for(assessment, url: course_assessment_path(@course, assessment), html: {method: "patch"}) do |f| %>
            <%= f.text_field :igot %>/
            <%= f.text_field :outof %>
            <%= f.submit "Update" %>
          <% end %>
          </div>
        </td>
        <td><%= assessment.weight %></td>
        <td><%= assessment.assessment_type %></td>
        <td><%= assessment.due_date %></td>
        <td><%= assessment.description %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
  <h5><%= link_to "Add new assessment", new_course_assessment_path(@course) %></h5>
</div>
